*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background: linear-gradient(180deg, #031c46, #180e30);
    margin: 0;
    min-height: 100vh;
}
h1{
    color: #ffd700;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:hsl(216, 91%, 18%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 60px;
    z-index:1000;
}

.logo a{
    color:white;
    text-decoration:none;
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    font-size: 32px;
    font-weight: bold;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:yellow;
}

.menu-btn{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:768px){

.nav-links{
display:none;
position:absolute;
top:70px;
left:0;
width:100%;
background:#0d6efd;
flex-direction:column;
text-align:center;
}

.nav-links.active{
display:flex;
}

.nav-links li{
margin:20px 0;
}

.menu-btn{
display:block;
}




}
/* ===== HOME SECTION ===== */

.home{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10% 50px;
    color:white;
    gap:50px;
    padding-bottom: 200px ;
    
}
   

.home-content{
    flex:1;
    
}

.home-content h3{
    font-size:30px;
    margin-bottom:10px;
}

.home-content h1{
    font-size:60px;
    font-weight:bold;
    margin-bottom:10px;
}

.home-content h2{
    font-size:35px;
    color:#ffd700;
    margin-bottom:20px;
}

.home-content p{
    font-size:18px;
    line-height:30px;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn,
.btn2{
    display:inline-block;
    padding:12px 28px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
    font-size: x-large;
}

.btn{
    background:white;
    color:#3b82f6;
    width: 150px;
    padding: 20px;
    font-size: x-large;
}

.btn:hover{
    background:#ffd700;
    color:black;
}

.btn2{
    border:2px solid white;
    color:white;
}

.btn2:hover{
    background:white;
    color:#3b82f6;
}

.home-image{
    flex:1;
    display:flex;
    justify-content:center;
    
}
#size{
    font-size: xx-large;
    font-weight: 900;
    color: rgb(228, 30, 30);
}

.home-image img{
    width:550px;
    height:550px;
    border-radius:50%;
    border:6px solid white;
    object-fit:contain;
    box-shadow:0 0 25px rgba(255,255,255,.4);
}

/* Responsive */

@media(max-width:768px){

.home{
    flex-direction:column-reverse;
    text-align:center;
}

.home-content h1{
    font-size:45px;
}

.home-content h2{
    font-size:28px;
}

.home-image img{
    width:250px;
    height:250px;
}

.buttons{
    justify-content:center;
    flex-wrap:wrap;
}

}
/* ================= ABOUT SECTION ================= */

.about{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:100px 10%;
    color:white;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.about-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.about-image img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid white;
    box-shadow:0 0 25px rgba(255,255,255,0.4);
}

.about-content{
    flex:1;
}

.about-content h4{
    font-size:22px;
    color:#ffd700;
    margin-bottom:10px;
}

.about-content h2{
    font-size:45px;
    margin-bottom:20px;
}

.about-content p{
    font-size:18px;
    line-height:30px;
    margin-bottom:20px;
}

.about-content .btn{
    display:inline-block;
    padding:12px 30px;
    background:white;
    color:#3b82f6;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.about-content .btn:hover{
    background:#ffd700;
    color:black;
}

/* =============== Responsive =============== */

@media(max-width:768px){

.about{
    padding:80px 20px;
}

.about-container{
    flex-direction:column;
    text-align:center;
}

.about-image img{
    width:250px;
    height:250px;
}

.about-content h2{
    font-size:35px;
}

.about-content p{
    font-size:16px;
}

}

/* ================= SKILLS ================= */

.skills{
    min-height:100vh;
    padding:100px 10%;
}

.heading{
    text-align:center;
    font-size:45px;
    color:white;
    margin-bottom:50px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.skill-box{
    background:white;
    padding:35px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
    cursor:pointer;
}

.skill-box:hover{
    transform:translateY(-10px);
}

.skill-box i{
    font-size:60px;
    color:#3b82f6;
    margin-bottom:20px;
}

.skill-box h3{
    font-size:24px;
    color:#333;
}
